.navbar {
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  justify-content: flex-start;
  padding-top: 50px;

  &__item {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: center;
    min-height: 50px;

    &__selected {
      color: $accent-primary;
    }
  }

  &__item:hover {
    background-color: $grey-light;
  }
}