.search-bar {
  border-bottom: 1px $grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
  padding: $sm-padding;
}

.search-section {
  background-color: red;
}

.shortcut-bar {
  float: left;
  flex-direction: row;
  font-size: $icon-size-lg;
  overflow: hidden;

  &__button {
    align-items: center;
    display: flex;

    i {
      cursor: pointer;
    }
  }

  &__content {
    border: 1px solid $grey-light;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 150px;
    position: absolute;
    right: 0;
    z-index: 1;

    div {
      cursor: pointer;
      font-size: 16px;
      padding: $sm-padding;
    }

    div:hover {
      background-color: $grey-light;
    }
  }
}

.shortcut-bar:hover .shortcut-bar__content {
  display: block;
}